body {
  width: 100%;
  margin: auto;
}
header {
  margin-top: 10px;
  height: 100px;
}
a {
  color: black;
  text-decoration: none;
}
.navContent {
  width: 80%;
  margin: auto;
}
.navContent img {
  width: 200px;
  float: left;
}
.navContent ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  list-style-type: none;
  display: inline;
  margin-right: 50px;
}
.navContent ul {
  float: right;
}
.title {
  width: 100%;
  height: 100px;
  text-align: center;
}
.bg {
  width: 100%;
  height: 465px;
  background-color: #b0d0eb;
}
.landing {
  width: 80%;
  margin: auto;
}
.welcome {
  text-align: center;
  width: 500px;
  float: left;
  margin-left: 50px;
  margin-top: 75px;
}
.homeText {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Cabin Sketch';
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  list-style-position: inside;
}
.logo{
  margin-top: 25px;
  float: left;
}
.half2 {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  height: 400px;
}
.logo img {
  height: 500px;
}
.carrot img {
  height: 150px;
  float: left;
  padding-top: 120px;
  padding-left: 30px;
}
.vegetarianRecipes {
  position: absolute;
}
.cele img {
  height: 150px;
  float: right;
}
.veganRecipes {
  text-align: right;
  float: right;
  padding-top: 50px;
}
